/data/
*.egg-info
wandb/
/src/__pycache__/
lightning_logs/
*.pyc
*.cpython-310.pyc

models/
region_proposals/
region_proposals2/
region_proposals3/
region_proposals4/
region_proposals4 copy/
region_proposals5/
region_proposals5 copy/
region_proposals6/